In [1]:
#### Introduction to Data Wrangling with Pandas ####
## Page 3 ##

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
num = range(1,6)
mul2 = [x*2 for x in num]
mul3 = [x*3 for x in num]
mul4 = [x*4 for x in num]
mul5 = [x*35 for x in num]
data = [num, mul2, mul3, mul4, mul5]

In [22]:
df1 = pd.DataFrame(data, index=['v', 'w', 'x', 'y', 'z'], columns=['A', 'B','C','D', 'E'])

In [23]:
df1

    A   B    C    D    E
v   1   2    3    4    5
w   2   4    6    8   10
x   3   6    9   12   15
y   4   8   12   16   20
z  35  70  105  140  175

In [2]:
#### Subsetting a dataframe ####

In [36]:
# 0. Column names
# 1. By labels
# 2. By index
# 3. Combination of both

In [37]:
#### Get Columns ####

In [38]:
df1['A']

v     1
w     2
x     3
y     4
z    35
Name: A, dtype: int64

In [39]:
df1.A

v     1
w     2
x     3
y     4
z    35
Name: A, dtype: int64

In [44]:
df1[['A', 'E', 'C']]

    A    E    C
v   1    5    3
w   2   10    6
x   3   15    9
y   4   20   12
z  35  175  105

In [6]:
#### Selecting data using Labels ####

In [60]:
df1.loc['z']

A     35
B     70
C    105
D    140
E    175
Name: z, dtype: int64

In [33]:
df1.loc[['w','z']] #only rows

    A   B    C    D    E
w   2   4    6    8   10
z  35  70  105  140  175

In [34]:
df1.loc[['w','z'],['A','B']] # rows and columns

    A   B
w   2   4
z  35  70

In [35]:
df1.loc['w','A'] # like value = array[row][column]

2

In [53]:
df1.loc['x': ,] # some row onwards

    A   B    C    D    E
x   3   6    9   12   15
y   4   8   12   16   20
z  35  70  105  140  175

In [54]:
df1.loc[:, 'C':'E'] # some column onwards

     C    D    E
v    3    4    5
w    6    8   10
x    9   12   15
y   12   16   20
z  105  140  175

In [56]:
df1.loc[:,:] # equal to printing the df

    A   B    C    D    E
v   1   2    3    4    5
w   2   4    6    8   10
x   3   6    9   12   15
y   4   8   12   16   20
z  35  70  105  140  175

In [59]:
df1.loc[:, 'B':'C']%2==0 # or anyother operation that yields boolean result

      B      C
v  True  False
w  True   True
x  True  False
y  True   True
z  True  False

In [61]:
#### Using Index values

In [64]:
df1.iloc[2] # the 2nd row, index starts from zero

A     3
B     6
C     9
D    12
E    15
Name: x, dtype: int64

In [65]:
df1.iloc[2:] #row onwards

    A   B    C    D    E
x   3   6    9   12   15
y   4   8   12   16   20
z  35  70  105  140  175

In [71]:
df1.iloc[1:3, 1:3] #subset rows and columns

   B  C
w  4  6
x  6  9

In [72]:
df1.iloc[:, 1:3] # column onwards

    B    C
v   2    3
w   4    6
x   6    9
y   8   12
z  70  105

In [74]:
df1.iloc[[1, 3], [2, 4]] # list the row and column number to display

    C   E
w   6  10
y  12  20

In [79]:
df1.iloc[:, [2, 4]] # all rows of selected columns

     C    E
v    3    5
w    6   10
x    9   15
y   12   20
z  105  175

In [80]:
df1.iloc[0,0]

1

In [81]:
# depricated ix where you could use a combination of labels and index

In [86]:
df1['A'].iloc[3]

4